.click{
    background-color: white;
    color: black;
    font-weight: 800;

}
.click:hover{
    color: white;
    background-color: orange;
}
.heading{
    font-size: 40px;
    font-weight: 400;
    color: orange;
}